//Colors
$fb-black: #2F2F2F;
$fb-darkBlue: #2D3544;
$fb-darkBlack: #242428;
$fb-grey: #565656;
$fb-greyBg: #C0C3C7;

//Gradient color
$fb-green: #96C84E;
$fb-yellow: #F4E932;
$fb-blueFlash: #219CC5;
$fb-white : #ffffff;

//Fonts

//Transitions
$cubic-bezier: cubic-bezier(0.045, 0.855, 0.100, 0.955);
