{% extends '../base.twig' %}
{% block body %}

<main class="background ctn-general">
    {% block header %}
    {% include '../layout/header.twig' %}
    {% endblock %}
    <section class="grid-background">
        <section class="container modif-ctn-boostrap">
            <section class="row">
                <section class="col-md-4 d-flex flex-column justify-content-between">
                    <article class="module module-sleep">
                        <canvas id="chart-sleep" width="100%" height="85%"></canvas>
                    </article>
                    <section class="row row-module">
                        <article class="module module-row">
                            <canvas id="chart-water" width="100%" height="auto"></canvas>
                            <button class="add-module fbCustom-button fbCustom-button--bordered" data-toggle="modal"
                                    data-target="#addWater">+
                            </button>
                            <p><span id="result-water">0 </span>/ 1500ml</p>
                            <div class="modal fade" id="addWater" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="border-radius: 0">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content content-modal">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addWaterLongTitle">Combien de verres d'eau
                                                avez-vous bus ? </h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <input name="number-water" type="number" class="mod input-water" min="0"
                                                   id="number-water"/>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="save-water" type="submit"
                                                    class="fbCustom-button fbCustom-button--filled"
                                                    data-dismiss="modal">Enregister
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="module module-row">
                            <h2>Podomètres</h2>
                            <img src="img/health/picto_pas.png" alt="picto_pas" class="picto-step">
                            <p class="nb-step"><span>250</span><br>PAS</p>
                        </article>
                    </section>
                </section>
                <section class="col-md-4 ctn-body">
                    <img src="img/body.svg" alt="Your Body" class="body-health">
                </section>
                <section class="col-md-4  d-flex flex-column justify-content-between">
                    <article class="module module-advice">
                        <div id="carouselAdvice" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselAdvice" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselAdvice" data-slide-to="1"></li>
                                <li data-target="#carouselAdvice" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <h3>Surveiller son alimentation</h3>
                                    <p>L’alimentation détermine grandement notre état de santé. De manière générale, il
                                        est recommandé... <a href="#" class="see-more" data-target="#carousel1"
                                                             data-toggle="modal">Voir Plus</a></p>
                                </div>
                                <div class="carousel-item">
                                    <h3>Boire suffisamment d'eau</h3>
                                    <p>L’eau est indispensable à l’ensemble des processus vitaux, et il est généralement
                                        recommandé... <a href="#" class="see-more" data-target="#carousel2"
                                                         data-toggle="modal">Voir Plus</a></p>
                                </div>
                                <div class="carousel-item">
                                    <h3>Il faut faire du sport !!</h3>
                                    <p>Les activités physiques permettent de garder la ligne, favorisent la longévité et
                                        aident à prévenir... <a href="#" class="see-more" data-target="#carousel3"
                                                                data-toggle="modal">Voir Plus</a></p>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselAdvice" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselAdvice" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </article>
                    <!-- Modal CAROUSEL 1 -->
                    <div class="modal fade" id="carousel1" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content content-modal ">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="TitleCarousel1">Surveiller son alimentation</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="img/health/photoconseil1.jpg" alt="CONSEIL1" width="100%">
                                    <p>L’alimentation détermine grandement notre état de santé. De manière générale, il
                                        est recommandé de réduire sa consommation de sel, sucre raffiné, acides gras
                                        saturés (viande, produits
                                        laitiers), acides gras trans (certaines margarines), pour privilégier les acides
                                        gras insaturés (oléagineux, poissons gras, huiles végétales), les fruits, les
                                        légumes et les céréales complètes. Pour les mêmes raisons, mieux vaut éviter les
                                        plats industriels et les repas pris en extérieur.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="fbCustom-button fbCustom-button--filled"
                                            data-dismiss="modal">OK
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal CAROUSEL 2 -->
                    <div class="modal fade" id="carousel2" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content content-modal">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="TitleCarousel2">Boire suffisamment d'eau</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="img/health/photoconseil2.jpg" alt="CONSEIL2" width="100%">
                                    <p>L’eau est indispensable à l’ensemble des processus vitaux, et il est généralement
                                        recommandé d’en boire 1 à 2 litres par jour. La sensation de soif est déjà le
                                        signe d’une déshydratation, il est donc important de répartir sa consommation
                                        d’eau tout au long de la journée.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="fbCustom-button fbCustom-button--filled"
                                            data-dismiss="modal">OK
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal CAROUSEL 3 -->
                    <div class="modal fade" id="carousel3" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content content-modal">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="TitleCarousel3">Il faut faire du sport !!</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="img/health/photoconseil3.jpg" alt="CONSEIL3" width="100%">
                                    <p>LLes activités physiques permettent de garder la ligne, favorisent la longévité
                                        et aident à prévenir le déclin des fonctions immunitaires. A défaut de pratiquer
                                        un sport, il est recommandé de marcher 30 minutes par jour à un rythme
                                        soutenu.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="fbCustom-button fbCustom-button--filled"
                                            data-dismiss="modal">OK
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <article class="module module-cardiac">
                        <canvas id="chart-cardiac" width="100%" height="70%"></canvas>
                    </article>
                    <article class="module module-weight">
                        <canvas id="chart-weight" width="100%" height="52%"></canvas>
                    </article>
                </section>
            </section>
        </section>
    </section>
</main>
{% endblock %}

{% block javascripts %}
<script src="/js/vendor/Chart.js"></script>
<script src="/js/health.js"></script>
{% endblock %}
