{% extends '../base.twig' %}

{% block body %}
<main class="background ctn-general">

    {% block header %}
        {% include '../layout/header.twig' %}
    {% endblock %}

    <section>{{ id }}</section>

</main>
{% endblock %}
