{% extends '../base.twig' %}
{% block body %}
<form method="post" action="/profil" style="color:white;">
    <section>
        <input type="text" name="lastname" placeholder="nom" required>
        <input type="text" name="firstname" placeholder="prénom" required>
        <input type="text" name="username" placeholder="pseudo" required>
        <input type="date" name="birthday" placeholder="date de naissance" required>
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password1" placeholder="mot de passe" required>
        <input type="password" name="password2" placeholder="confirmation de mot de passe" required>
        <button type="button" disabled>SUIVANT</button>
    </section>
    <section>
        <label>taille</label>
        <input name="height" type="range" min="120" max="220" required>
        <label>poid</label>
        <input name="weight" type="range" min="30" max="200" required>
        <button type="button" disabled>SUIVANT</button>
    </section>
    <section> {# twig #}
        {% for sport in sports %}
            <input type="checkbox" value="{{ sport.id }}" name="sport"><label>{{ sport.name }}</label>
        {% endfor %}
        {#<input type="checkbox" value="marche"><label>Marche</label>
        <input type="checkbox" value="running"><label>Running</label>
        <input type="checkbox" value="cyclisme"><label>Cyclisme</label>
        <input type="checkbox" value="yoga"><label>Yoga</label>
        <input type="checkbox" value="musculation"><label>Musculation</label>
        <input type="checkbox" value="natation"><label>Natation</label>
        <input type="checkbox" value="football"><label>Football</label>
        <input type="checkbox" value="tennis"><label>Tennis</label>
        <input type="checkbox" value="boxe"><label>Boxe</label>#}
        <button type="button" disabled>SUIVANT</button>
    </section>
    <section>
        <input name="frequencies" type="number" min="0" max="7" value="0"><label>Frequence</label>
        <button type="button" disabled>SUIVANT</button>
    </section>
    <section> {# twig #}
        {% for objectif in objectifs %}
            <input type="radio" value="{{ objectif.id }}" name="objectif"><label>#{{ objectif.title }}</label>
        {% endfor %}
        {#<input type="checkbox" value="perdre du poid"><label>#Perdre du poid</label>
        <input type="checkbox" value="prise de masse"><label>#Prise de masse</label>
        <input type="checkbox" value="rester en forme"><label>#Rester en forme</label>
        <input type="checkbox" value="se dépenser"><label>#Se dépenser</label>
        <input type="checkbox" value="Remise en forme"><label>#Remise en forme</label>
        <input type="checkbox" value="Objectif pro"><label>#Objectif pro</label>#}
        <button type="submit">TERMINER</button>
    </section>
</form>
{% endblock %}
