{% extends '../base.twig' %}
{% block body %}
    <main class="background ctn-general">
        {% block header %}
            {% include '../layout/header.twig' %}
        {% endblock %}
        <section class="grid-background sport-container">
            <section class="container">
                <section class="row">
                    <div class="col d-flex flex-column">
                        <div class="row mb-4 h-50">
                            <section class="col-md-6">
                                <article class="module module-sleep h-100">
                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tu2VdQ8XAVw"
                                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </article>
                            </section>
                            <section class="col-md-6">
                                <article class="module module-sleep h-100 position-relative">
                                    <iframe width="100%" height="100%" frameborder="0" zoom="15" style="border:0; -webkit-filter: grayscale(100%);
                                    filter: grayscale(100%);"
                                    src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJQ4be0xdu5kcR_0uU3KNuUlU&destination=place_id:ChIJpVOE6Qhu5kcRAx4u4EoRmLk&key=AIzaSyDkjg56T6FTTrnVYqGVhvLKHRf46ovvjfo&zoom=14&mode=walking"
                                    allowfullscreen></iframe>
                                    <button class="fbCustom-button--filled fbCustom-button position-absolute btn-run">Lancer une course</button>
                                </article>
                            </section>
                        </div>
                        <div class="row h-50">
                            <section class="col-md-6">
                                <article class="module module-news h-100 p-3">
                                    <div id="news" class="carousel slide h-75" data-ride="carousel">
                                        <div class="carousel-inner h-100">
                                            <div class="carousel-item active h-100 news-ctn">
                                                <h3>PSG : la nouvelle exigence de Neymar</h3>
                                                <p class="news">Le cas Neymar agite toujours autant la planète football.
                                                    Après la
                                                    rumeur sur sa demande d'augmentation de salaire, le Brésilien aurait
                                                    désormais tranché sur le nom du futur entraîneur du PSG, révèle le
                                                    site Paris United.

                                                    À chaque jour son lot de révélations.

                                                    Alors que les jours d'Unai Emery à la tête du PSG sont comptés, les
                                                    rumeurs vont déjà bon train quant à son remplaçant. Selon le site
                                                    Paris United, un nom serait déjà en pôle position pour lui succéder.
                                                    Et le choix ne viendrait pas de la direction du club, mais du
                                                    vestiaire. Neymar, actuellement en convalescence au Brésil, aurait
                                                    fait savoir à ses dirigeants que seul Luis Enrique trouvait grâce à
                                                    ses yeux. Alors que les négociations avec l'entraîneur de Chelsea,
                                                    Antonio Conte, avaient pourtant bien commencé, la sortie de Neymar
                                                    pourrait bien y mettre fin. Selon Paris United, le Brésilien, pas du
                                                    tout fan du football prôné par le technicien italien, aurait été
                                                    catégorique : il faut que le nécessaire soit fait pour finaliser la
                                                    venue de Luis Enrique.
                                                </p>
                                            </div>
                                            <div class="carousel-item">
                                                <h3>Lionel Messi va s'entraîner au Real Madrid</h3>
                                                <p class="news">Lionel Messi au Real Madrid ? C'est une information
                                                    quasiment
                                                    incroyable, mais presque vraie. Non, le joueur ne rejoint pas
                                                    l'équipe coachée par Zinédine Zidane, mais va s'entraîner sur ses
                                                    terrains pour préparer le match amical qu'il jouera avec la
                                                    sélection argentine contre l'Espagne le 27 mars prochain.

                                                    Si c'est au Wanda Metropolitano, le stade de l'Atlético de Madrid,
                                                    que se déroulera la rencontre entre l'Argentine et l'équipe
                                                    espagnole mardi, c'est bien à Valdebebas, là où s'entraînent
                                                    habituellement Cristiano Ronaldo et ses coéquipiers que Lionel Messi
                                                    et les autres joueurs de l'équipe nationale devraient prendre place
                                                    pendant trois jours, rapportent plusieurs médias dont Diario Sport.

                                                    A priori, l'Argentin de 30 ans ne devrait pas croiser son principal
                                                    rival pendant la préparation de ce match puisque la plupart des
                                                    joueurs du club sont actuellement en équipes nationales, rappelle le
                                                    site de BFM TV. Entre les deux stars, la course pour savoir lequel
                                                    des deux sera le meilleur buteur fait toujours rage. Même si c'est
                                                    Ronaldo qui a reçu le Ballon d'or en décembre dernier, c'est pour
                                                    l'instant la star du FC Barcelone qui fait la course en tête avec 25
                                                    buts, mais joueur du Real n'est pas très loin avec seulement 3 buts
                                                    de moins.

                                                    Mais le nombre de buts importe peu pour Cristiano Ronaldo. "Je le
                                                    dis toujours et je démontre que je suis le meilleur. Il n'y a pas
                                                    meilleur que moi. J'ai commencé à jouer à Manchester United, j'ai pu
                                                    me rendre compte qu'il n'y avait pas beaucoup de joueurs avec mon
                                                    talent, mon état d'esprit, mon éthique footballistique... Personne
                                                    ne pourra se comparer à moi. Il n'y aura pas d'autre Cristiano
                                                    Ronaldo", a-t-il expliqué dans O Jogo en marge de la cérémonie des
                                                    trophées du football portugais.

                                                    Il n'y a aura peut-être pas d'autre Cristiano Ronaldo, mais il y a
                                                    bien un Lionel Messi, qui n'a sans doute pas dit son dernier mot, ou
                                                    plutôt marqué son dernier but...</p>
                                            </div>
                                            <div class="carousel-item">
                                                <h3>Toni Nadal fait le point sur la blessure de Rafa</h3>
                                                <p class="news">L'oncle de Rafael Nadal a donné des nouvelles de
                                                    l'Espagnol,
                                                    actuellement blessé.

                                                    Blessé à la cuisse, Rafael Nadal n'a plus joué depuis l'Open
                                                    d'Australie et son abandon en quarts de finale contre Marin Cilic.
                                                    Présent pour une conférence à l'école de droit de l'Université des
                                                    îles Baléares, son oncle et ancien entraîneur Toni Nadal a donné des
                                                    nouvelles du numéro deux mondial : "Il tape quelques balles, mais il
                                                    ne se déplace pas. Il est toujours blessé, il n'a pas encore
                                                    récupéré. Sa blessure est un processus qui est sur la bonne voie. Je
                                                    pense qu'il aura récupéré pour la saison sur terre battue, et si
                                                    c'est le cas, je n'ai aucun doute sur le fait que Rafael sera
                                                    émotionnellement prêt à jouer du bon tennis", a-t-il déclaré,
                                                    avouant que son ancien protégé n'est "pas touché, mais affecté", par
                                                    le fait d'être privé de compétition depuis plusieurs semaines.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <button class="fbCustom-button fbCustom-button--filled" href="#news"
                                                    role="button" data-slide="next">Article suivant
                                            </button>
                                        </div>
                                    </div>
                                </article>
                            </section>
                            <section class="col-md-6">
                                <div class="row h-100">
                                    <div class="col-md-6">
                                        <div class="module h-100 w-100 d-flex flex-column justify-content-around py-3">
                                            <div class="row">
                                                <div class="col">
                                                    <h3>Objectif Cal</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <p>Il te reste encore</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <h3>1256 cal</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <p>à perdre cette semaine</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <h3>Courage !</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="module h-100 w-100 d-flex flex-column justify-content-around">
                                            <div class="row">
                                                <div class="col">
                                                    <h3>Quick Workout</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div id="quickWorkout" class="carousel slide" data-ride="carousel">
                                                        <div class="carousel-inner">
                                                            <div class="carousel-item active">
                                                                <h3>5 min</h3>
                                                            </div>
                                                            <div class="carousel-item">
                                                                <h3>10 min</h3>

                                                            </div>
                                                            <div class="carousel-item">
                                                                <h3>15 min</h3>
                                                            </div>
                                                        </div>
                                                        <a class="carousel-control-prev" href="#quickWorkout"
                                                           role="button" data-slide="prev">
                                                            <span class="carousel-control-prev-icon"
                                                                  aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="carousel-control-next" href="#quickWorkout"
                                                           role="button" data-slide="next">
                                                            <span class="carousel-control-next-icon"
                                                                  aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <button class="fbCustom-button--filled fbCustom-button">Go !
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <section class="col-md-4 d-flex flex-column">
                        <article class="module module-advice">
                            <div id="carouselAdvice" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselAdvice" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselAdvice" data-slide-to="1"></li>
                                    <li data-target="#carouselAdvice" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <h3>Dormir suffisamment</h3>
                                        <p>Dormir au moins 7 heures/nuit = pas prise de poids. En effet moins vous dormez, plus vous avez faim, plus vous fabriquez de graisse et moins vous éliminez…</p>
                                    </div>
                                    <div class="carousel-item">
                                        <h3>Augmenter le rythme progressivement</h3>
                                        <p>Rehaussez progressivement votre temps d’entraînement au fil des semaines, mais de 5% seulement entre chaque semaine</p>
                                    </div>
                                    <div class="carousel-item">
                                        <h3>Buvez de l'eau !</h3>
                                        <p>Le fait de boire un ou deux verres d’eau à jeun va nous permettre d’éliminer les toxines accumulées dans notre système digestif, ainsi que de stimuler nos organes !</p>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselAdvice" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselAdvice" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </article>
                        <article class="module module-training mt-3">
                            <canvas id="chart-sport" width="100%" height="70"></canvas>
                            <div class="row">
                                <div class="col mb-3">
                                    <h3>Dernier entrainement</h3>
                                </div>
                            </div>
                            <div class="row px-3 svg-container">
                                <div class="col-md-3 d-flex mt-auto align-items-center justify-content-center flex-column">
                                    <?xml version="1.0" encoding="UTF-8"?>
                                    <svg width="40px" height="43px" viewBox="0 0 40 43" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                                        <title>Group 8</title>
                                        <desc>Created with Sketch.</desc>
                                        <defs></defs>
                                        <g id="SPORT" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                           transform="translate(-942.000000, -615.000000)">
                                            <g id="Group-7" transform="translate(889.000000, 334.000000)"
                                               fill="#FFFFFF">
                                                <g id="Group-8" transform="translate(53.000000, 281.000000)">
                                                    <path d="M25.031972,9.59460983 C22.4936032,8.50711413 21.3177152,5.56841217 22.4055876,3.03092221 C23.49346,0.493432255 26.4296592,-0.682048529 28.968028,0.405447166 C31.5063968,1.49294286 32.6822848,4.42812542 31.5944124,6.96561538 C30.5100607,9.50662474 27.5703408,10.6821055 25.031972,9.59460983 Z"
                                                          id="Fill-1"></path>
                                                    <path d="M37.830308,17.480854 C37.3682509,17.6138507 34.2384038,18.4118309 32.3530757,18.9438177 C32.2586407,18.7654075 32.2147958,18.5448276 32.1675783,18.3664174 C31.4289614,16.2871276 30.2788775,13.095207 27.4255902,11.9890638 C26.7780357,11.7230704 25.3075472,11.1035004 24.2923705,10.7045103 C20.2417818,9.02096684 13.1962533,10.837507 12.2755117,11.1910836 C11.7696097,11.3694938 10.7105882,11.7684839 7.66843079,17.5716811 C7.25696383,18.4118309 7.57736843,19.3882213 8.45426523,19.829381 C8.68023479,19.9623777 8.96016723,20.0077912 9.23672699,20.0077912 C9.88090887,20.0077912 10.4778732,19.6509708 10.8016505,19.0768144 C11.7223922,17.2148607 13.105191,14.9117472 13.7021553,14.2467637 C14.3935547,14.0261838 16.0495406,13.6726073 17.8910239,13.4520274 C16.2485287,15.4340025 14.5453253,19.6023135 14.5453253,19.6023135 C14.5453253,19.6055573 14.0664048,20.8641602 13.9382429,21.3118076 C12.8454946,24.4648023 11.0613469,29.8625218 10.5723083,30.9492021 C9.00401207,30.9913718 5.50654292,30.641039 2.60266544,30.1512219 C1.3615192,29.9728117 0.208062637,30.7707919 0.0259379171,31.9223486 C-0.159559483,33.1193189 0.670119797,34.2254621 1.8674212,34.4038723 C1.95848356,34.4038723 4.30924152,34.8028624 6.74768915,35.0266861 C8.08327043,35.1564389 9.23672699,35.2440221 10.2013135,35.2440221 C12.2755117,35.2440221 13.5166579,34.8482759 14.1608398,33.7388888 C14.5048532,33.1452694 16.3126096,29.531652 17.6279548,26.6478944 C19.8809051,28.1335648 22.6869748,30.0312005 23.2805665,30.6832087 C23.0040067,32.188342 21.6684255,36.5285755 20.4239066,40.1648998 C20.0562844,41.3164565 20.6532488,42.5101829 21.8505502,42.909173 C22.0832651,43 22.3126073,43 22.5419496,43 C23.4626912,43 24.339588,42.4225997 24.6599926,41.5370364 C25.857294,38.0791224 27.8842747,31.9677621 27.7932123,30.2842186 C27.7459948,28.6006751 26.1338538,27.1377115 22.6363846,24.7924283 C23.7864685,22.1324945 25.6279518,18.2788342 27.3783727,16.2871276 C28.0225546,17.2148607 28.4846117,18.4994141 28.8050163,19.4758044 C29.3109183,20.8933546 29.6819131,21.9119146 30.6464996,22.3984879 C30.9230594,22.5314846 31.1996191,22.5768981 31.5200237,22.5768981 C31.7527387,22.5768981 31.9820809,22.5314846 32.2147958,22.4439014 C32.9938849,22.177908 36.4947267,21.2469311 38.6599873,20.7149444 C39.6245738,20.4943645 40.1776933,19.5633876 39.9483511,18.6778243 C39.7190088,17.7922609 38.7510497,17.2602742 37.830308,17.480854 Z"
                                                          id="Fill-3"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <p class="mt-2">Workout</p>
                                </div>
                                <div class="col-md-3 d-flex mt-auto align-items-center justify-content-center flex-column">
                                    <?xml version="1.0" encoding="UTF-8"?>
                                    <svg width="32px" height="38px" viewBox="0 0 32 38" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                                        <title>noun_1206042_cc</title>
                                        <desc>Created with Sketch.</desc>
                                        <defs></defs>
                                        <g id="SPORT" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                           transform="translate(-1012.000000, -617.000000)">
                                            <g id="noun_1206042_cc" transform="translate(1012.000000, 617.000000)"
                                               fill="#FFFFFF">
                                                <g id="Group">
                                                    <path d="M15.9210733,0.154617303 C15.0593891,0.154617303 14.2726943,0.285354382 13.6315575,0.528212809 C13.3110101,0.649684719 13.0198522,0.792248764 12.7631785,1.02191393 C12.5065048,1.2515791 12.2631364,1.61936787 12.2631364,2.07596562 C12.2631364,2.53260607 12.5065048,2.91375888 12.7631785,3.14338135 C13.0198522,3.37304652 13.3110101,3.51565326 13.6315575,3.63708247 C13.9587575,3.76098809 14.3181259,3.85598809 14.7105469,3.91725775 L13.9868417,5.43832517 C6.114632,6.44523978 0.0131583158,13.2801162 0.0131583158,21.5296472 C0.0131583158,30.4711326 7.17842147,37.7276809 15.9999785,37.7276809 C24.8176206,37.7276809 31.9868417,30.4711326 31.9868417,21.5296472 C31.9868417,13.2790061 25.883768,6.44378809 18.0131575,5.43832517 L17.2894943,3.91725775 C17.6808627,3.85598809 18.0419575,3.76073191 18.3683996,3.63708247 C18.6889891,3.51565326 18.9801469,3.37304652 19.2368627,3.14338135 C19.4934943,2.91371618 19.7499996,2.53256337 19.7499996,2.07596562 C19.7499996,1.61936787 19.4934943,1.2515791 19.2368627,1.02191393 C18.9801469,0.792248764 18.6889891,0.649684719 18.3683996,0.528212809 C17.7273048,0.285354382 16.9537891,0.154617303 16.0921048,0.154617303 L15.9999785,0.154617303 L15.9210733,0.154617303 Z M15.9999785,9.81472966 C16.4650599,9.81473084 16.8420826,10.1970488 16.8420838,10.6686622 L16.8420838,20.6757146 L26.7105469,20.6757146 C27.1756284,20.6757158 27.552651,21.0580337 27.5526522,21.5296472 C27.5526522,27.9872562 22.3638522,33.2311708 15.9999785,33.2311708 C9.63227326,33.2311708 4.46052674,27.9872562 4.46052674,21.5296472 C4.46052674,15.072051 9.63185221,9.81472966 15.9999785,9.81472966 Z"
                                                          id="Shape"></path>
                                                    <path d="M15.1615785,11.5585027 L15.1615785,21.5252494 C15.1615797,21.9968629 15.5386024,22.3791808 16.0036838,22.379182 L25.8281469,22.379182 C25.4023785,27.5118719 21.1739996,31.5242449 16.0036838,31.5242449 C10.5452417,31.5242449 6.13892674,27.0599281 6.13892674,21.5252494 C6.13892674,16.2782735 10.0995575,11.990251 15.1615785,11.5585027 Z"
                                                          id="Shape"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <p class="mt-2">1h30</p>
                                </div>
                                <div class="col-md-3 d-flex mt-auto align-items-center justify-content-center flex-column">
                                    <?xml version="1.0" encoding="UTF-8"?>
                                    <svg width="48px" height="53px" viewBox="0 0 48 53" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                                        <title>Group 2</title>
                                        <desc>Created with Sketch.</desc>
                                        <defs></defs>
                                        <g id="SPORT" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                           transform="translate(-1076.000000, -602.000000)">
                                            <g id="Group-2" transform="translate(1076.000000, 602.000000)"
                                               fill="#FFFFFF" fill-rule="nonzero">
                                                <path d="M34.4971303,36.6157013 C34.4523971,36.4073208 34.2507997,36.2748807 34.0456236,36.3210525 C31.8244728,36.8173991 30.4031511,38.294896 29.5311526,39.669114 C28.9311318,39.0931818 27.5444037,38.1247895 24.8288024,37.7384046 C20.7527165,37.1588273 17.0118311,42.2140295 15.5893164,45.224308 C15.6525393,39.4929322 20.1407668,37.8307482 20.1103482,37.3009877 C19.8252489,32.4092093 21.5656672,28.144395 21.887746,27.0727237 C22.5348857,26.9973908 23.1903757,26.9402836 23.8321475,26.8400423 C23.9788723,27.7628703 24.4208359,29.0338093 25.5063607,29.1486312 C25.6023879,29.1589591 25.6960293,29.1638193 25.7878814,29.1638193 C27.500267,29.1638193 28.5058685,27.4706516 29.0587704,26.5387107 C29.7446789,25.3832011 30.3971867,24.1857725 30.1949928,23.3492128 C29.9737127,22.4348901 28.7110446,21.9780325 27.9726492,21.640857 C26.7308565,21.0734301 25.4282268,20.5357719 24.0868283,20.2739293 C23.2637381,20.1129356 21.8960962,19.7958084 21.1004423,20.188876 C20.5165254,20.4768421 19.9594484,21.3480307 19.8270382,21.5655241 C19.3814959,22.2957672 18.4456781,22.9446022 17.8593754,23.5654911 C15.2248903,26.3528085 12.9828641,29.4104738 11.1798193,32.8192876 C8.69026964,37.5251639 8.02702593,44.9169011 7.948892,45.8919762 C7.80216722,46.120405 7.39837586,46.781998 7.11745159,47.5760311 C6.70829225,48.729718 7.45682719,49.4107517 8.00316824,49.9083134 C8.124246,50.0182751 8.242938,50.1251993 8.34373673,50.2345535 C8.99445516,50.9356355 10.6603182,51.105742 11.0772313,51.1379408 C11.6158186,51.4034285 15.9221312,53 22.4656985,53 C29.0092657,53 30.6810932,51.5820404 32.5926904,49.5893636 C34.6062792,47.4879402 35.7049257,41.8136716 34.4971303,36.6157013 Z"
                                                      id="Shape"></path>
                                                <polygon id="Shape"
                                                         points="43.7202574 21.8111545 41.5379698 21.1786734 48 12 37.0074177 19.0011147 39.4620302 19.8213266 33 29"></polygon>
                                                <polygon id="Shape"
                                                         points="7.03037649 18.4376918 5.24626922 21.1804788 0 13 0.569047799 24.9379988 2.75433679 22.8201351 8 31"></polygon>
                                                <polygon id="Shape"
                                                         points="14 7.44687786 16.6808835 8.53268632 16.4798172 0 22 8.9012635 19.3343488 8.46731368 19.5348058 17"></polygon>
                                            </g>
                                        </g>
                                    </svg>
                                    <p class="mt-2">Moyen</p>
                                </div>
                                <div class="col-md-3 d-flex mt-auto align-items-center justify-content-center flex-column">
                                    <?xml version="1.0" encoding="UTF-8"?>
                                    <svg width="41px" height="31px" viewBox="0 0 41 31" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                                        <title>noun_565969_cc</title>
                                        <desc>Created with Sketch.</desc>
                                        <defs></defs>
                                        <g id="SPORT" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                           transform="translate(-1147.000000, -621.000000)">
                                            <g id="noun_565969_cc" transform="translate(1147.000000, 621.000000)"
                                               fill="#FFFFFF" fill-rule="nonzero">
                                                <g id="Group">
                                                    <path d="M38.3974111,27.869 L38.3974111,29.0269412 C38.3974111,29.5534853 38.1846667,30.0266912 37.8389,30.3740735 C37.4931333,30.7187206 37.0202667,30.9316176 36.4927333,30.9316176 L4.50726667,30.9316176 C3.97973333,30.9316176 3.50823333,30.7187206 3.1611,30.3740735 C2.81533333,30.0266912 2.60395556,29.5534853 2.60395556,29.0269412 L2.60395556,28.3896176 C2.85451111,28.3403824 3.10506667,28.272 3.35243333,28.18675 C3.48135556,28.1434412 3.60845556,28.0942059 3.73464444,28.0426912 C3.70685556,28.2204853 3.69273333,28.3996471 3.69273333,28.5760735 C3.69273333,28.9147941 3.7433,29.2480441 3.8704,29.5521176 C3.93463333,29.7034706 4.01891111,29.8475294 4.13188889,29.9779118 C4.24258889,30.1023676 4.38244444,30.2131471 4.54735556,30.2888235 C4.55008889,30.2901912 4.55282222,30.2915588 4.55555556,30.2929265 C4.74187778,30.3781765 4.94596667,30.4160147 5.15005556,30.4160147 C5.45208889,30.4146471 5.75867778,30.3376029 6.07938889,30.2058529 C6.55817778,30.0043529 7.07022222,29.6738382 7.62281111,29.2115735 C8.1713,28.7506765 8.7576,28.1584853 9.37077778,27.4304412 C9.5161,27.2667794 9.65914444,27.1113235 9.81312222,26.9695441 C9.83544444,27.0411176 9.86778889,27.1081324 9.9056,27.1724118 C10.0468222,27.41175 10.2709556,27.5868088 10.5324444,27.7003235 C10.7953,27.8138382 11.0991556,27.8699118 11.4421889,27.8712794 C11.6312444,27.8712794 11.8298667,27.8530441 12.0412444,27.8179412 C12.0426111,27.8179412 12.0453444,27.8179412 12.0467111,27.8165735 C12.2986333,27.776 12.5268667,27.7299559 12.7464444,27.6638529 C13.0767222,27.5658382 13.3801222,27.4258824 13.6953667,27.2325882 C13.9878333,27.0534265 14.2930556,26.8305 14.6707111,26.5396471 C14.6862,26.6248971 14.7044222,26.7046765 14.7240111,26.7830882 C14.7896111,27.0338235 14.8820889,27.2590294 15.0064556,27.4550588 C15.1003,27.6023088 15.2137333,27.7336029 15.3408333,27.8430147 C15.5326222,28.0066765 15.7563,28.1201912 15.99,28.1876618 C16.2237,28.2565 16.4669667,28.2829412 16.7175222,28.2829412 C17.2140778,28.2815735 17.7461667,28.1821912 18.3251778,28.0422353 C19.1911889,27.8320735 20.1610667,27.5270882 21.2020111,27.2763529 C22.2429556,27.0256176 23.3526889,26.8295882 24.4833778,26.8295882 C25.1535,26.8295882 25.8322778,26.8984265 26.5110556,27.0648235 L26.5124222,27.0661912 C26.8203778,27.2736176 27.0987222,27.4318088 27.3966556,27.5507941 C27.7128111,27.6784412 28.0389889,27.7550294 28.4180111,27.8156618 L28.4180111,27.8170294 C28.6321222,27.8535 28.8334778,27.8703676 29.0225333,27.8703676 C29.4785444,27.8703676 29.8703222,27.7723529 30.1796444,27.5662941 C30.3336222,27.4641765 30.4652778,27.3310588 30.5600333,27.1715 C30.5978444,27.1085882 30.6288222,27.03975 30.6511444,26.97 C30.8023889,27.1072206 30.9422444,27.2585735 31.0848333,27.4195 C31.7845667,28.2528529 32.4086778,28.8099412 32.9849556,29.1668971 C33.5585,29.5238529 34.0946889,29.6793088 34.5730222,29.6779412 C34.9397444,29.6779412 35.2654667,29.5867647 35.5342444,29.4623088 C35.5369778,29.4623088 35.5397111,29.4609412 35.5424444,29.4595735 L35.5424444,29.4582059 C35.7383333,29.3697647 35.9050667,29.2425735 36.0490222,29.0953235 C36.2672333,28.8682941 36.4353333,28.5911176 36.5528667,28.2902353 C36.6649333,27.9989265 36.7319,27.6811765 36.736,27.3575 C36.9628667,27.4555147 37.1952,27.5453235 37.4302667,27.6237353 C37.7496111,27.7290441 38.0726,27.8129265 38.3974111,27.869 Z"
                                                          id="Shape"></path>
                                                    <path d="M29.3127222,26.2446912 C29.4958556,26.3372353 29.6079222,26.43525 29.6653222,26.5077353 C29.7227222,26.5834118 29.7268222,26.6239853 29.7268222,26.6394853 C29.7268222,26.6508824 29.7268222,26.6563529 29.7172556,26.6745882 C29.7031333,26.6982941 29.6571222,26.7516324 29.5436889,26.8022353 C29.4316222,26.8514706 29.2566889,26.8906765 29.0229889,26.8906765 C28.8940667,26.8906765 28.7473778,26.8792794 28.5833778,26.8514706 L28.5779111,26.8501029 C28.3510444,26.8136324 28.1651778,26.7744265 27.9984444,26.7256471 C27.7506222,26.6499706 27.5410667,26.5560588 27.2804889,26.3965 C27.1880111,26.3404265 27.0900667,26.2761471 26.9839222,26.2018382 C26.7921333,26.0687206 26.5725556,25.9050588 26.3124333,25.7017353 C26.3097,25.7003676 26.3083333,25.6976324 26.3056,25.6962647 C25.9165556,25.3826176 25.5079222,25.1040735 25.0810667,24.8601765 C24.846,24.7256912 24.5467,24.8068382 24.4136778,25.0420735 C24.2792889,25.2773088 24.3603778,25.5754559 24.5954444,25.7099412 C24.6779,25.7573529 24.7603556,25.8065882 24.8419,25.8571912 C24.7216333,25.8517206 24.6027333,25.8503529 24.4838333,25.8503529 C22.8269778,25.8517206 21.2708,26.2282794 19.9291889,26.5938971 C19.2577,26.7771618 18.6390556,26.9581471 18.0946667,27.0908088 C17.5502778,27.2225588 17.0774111,27.3050735 16.7175222,27.3037059 C16.5020444,27.3037059 16.3298444,27.2758971 16.2013778,27.2266618 C16.1034333,27.1901912 16.0278111,27.1455147 15.9608444,27.0839706 C15.8601667,26.9914265 15.7690556,26.8555735 15.6948,26.6189706 C15.6387667,26.4343382 15.5982222,26.1904412 15.5841,25.8836324 L15.5841,25.8822647 C15.7016333,25.8093235 15.8191667,25.7395735 15.9394333,25.6721029 C16.1745,25.5403529 16.2596889,25.2422059 16.1284889,25.0056029 C15.9954667,24.769 15.6975333,24.6851176 15.4611,24.8164118 C15.2456222,24.9367647 15.0342444,25.0671471 14.8274222,25.2071029 C14.8105667,25.2153088 14.7950778,25.2267059 14.7814111,25.2381029 C14.5686667,25.3807941 14.3613889,25.5335147 14.1600333,25.6958088 C14.1573,25.6971765 14.1559333,25.6999118 14.1532,25.7012794 C13.6129111,26.1229706 13.2507444,26.3764412 12.9386889,26.536 C12.7806111,26.6171471 12.6334667,26.6759559 12.4671889,26.7251912 C12.3004556,26.7744265 12.1159556,26.815 11.8890889,26.8496471 L11.8822556,26.8510147 C11.7187111,26.8788235 11.5715667,26.8915882 11.4426444,26.8915882 C11.1305889,26.8915882 10.9265,26.8186471 10.8299222,26.753 C10.7825444,26.7192647 10.7597667,26.6914559 10.7502,26.6745882 C10.7401778,26.6577206 10.7388111,26.65225 10.7388111,26.6394853 C10.7388111,26.6239853 10.7429111,26.5834118 10.8003111,26.5091029 C10.8577111,26.4347941 10.9697778,26.3367794 11.1529111,26.2442353 C11.3765889,26.1307206 11.4790889,25.8649412 11.3893444,25.6297059 C11.2982333,25.3958382 11.0422111,25.2686471 10.8003111,25.3356618 C10.2600222,25.4856471 9.8318,25.7108529 9.48512222,25.9697941 C9.13798889,26.2287353 8.87376667,26.5145735 8.64006667,26.7776176 L8.63004444,26.7890147 C7.85058889,27.7190147 7.12716667,28.3978235 6.51717778,28.8304559 C6.21195556,29.0474559 5.93634444,29.2029118 5.70264444,29.2995588 C5.46894444,29.3975735 5.27988889,29.4354118 5.15142222,29.4354118 C5.06167778,29.4340441 5.00427778,29.4185441 4.96236667,29.4003088 L4.95416667,29.3962059 C4.92637778,29.3834412 4.8995,29.3652059 4.86897778,29.3291912 C4.8216,29.2772206 4.7683,29.1819412 4.73185556,29.0506471 C4.69404444,28.9188971 4.67172222,28.7538676 4.67308889,28.5760735 C4.67172222,28.3522353 4.7068,28.1097059 4.77103333,27.8886029 C4.83526667,27.6661324 4.93047778,27.4655441 5.03707778,27.3228529 C5.17556667,27.1350294 5.16144444,26.8733529 5.00473333,26.7010294 C4.84665556,26.5287059 4.5879,26.4908676 4.38745556,26.6125882 C3.95103333,26.8801912 3.4891,27.1040294 3.03718889,27.2594853 C2.70281111,27.373 2.3739,27.4500441 2.06457778,27.4819559 C2.06047778,27.4819559 2.05455556,27.4833235 2.05045556,27.4833235 C1.94567778,27.4933529 1.84317778,27.4988235 1.74386667,27.4988235 C1.41632222,27.4988235 1.12248889,27.44275 0.863733333,27.3278676 C0.607711111,27.2143529 0.382211111,27.0465882 0.182222222,26.7931176 C0.182222222,26.7931176 0.180855556,26.79175 0.179488889,26.7903824 C0.0578555556,26.6180588 0.00182222222,26.4347941 0.000455555556,26.2232647 C0.000455555556,26.0190294 0.0578555556,25.7892647 0.178122222,25.5581324 C0.358522222,25.2121176 0.679233333,24.8665588 1.10745556,24.6144559 C1.53567778,24.3609853 2.06731111,24.1973235 2.6773,24.1973235 L2.67866667,24.1973235 L3.70002222,24.1973235 L37.3031667,24.1973235 L37.7887889,24.1973235 L37.7901556,24.1973235 C37.7928889,24.1973235 37.7942556,24.1973235 37.7969889,24.1973235 L37.8097444,24.1973235 C38.7108333,24.2000588 39.5476889,24.4621912 40.1312556,24.8287206 C40.4250889,25.0119853 40.6533222,25.2207794 40.7972778,25.4195441 C40.8701667,25.5189265 40.9216444,25.6155735 40.9539889,25.7040147 C40.9858778,25.7924559 41,25.8736029 41,25.9479118 C40.9986333,26.0668971 40.9690222,26.1790441 40.877,26.3148971 C40.8756333,26.3162647 40.8742667,26.3176324 40.8742667,26.319 C40.6938667,26.5460294 40.4783889,26.7014853 40.2137111,26.8090735 C39.9490333,26.9166618 39.6342444,26.97 39.2843778,26.97 C39.1723111,26.97 39.0575111,26.9645294 38.9399778,26.9531324 C38.9317778,26.9517647 38.9244889,26.9517647 38.9162889,26.9517647 C38.5386333,26.9139265 38.1368333,26.8241176 37.7382222,26.6928235 C37.2065889,26.5177647 36.6831556,26.2697647 36.2257778,25.9912206 C36.0271556,25.8695 35.7665778,25.9059706 35.6098667,26.0778382 C35.4517889,26.2501618 35.4376667,26.5118382 35.5761556,26.6996618 C35.6362889,26.7821765 35.6809333,26.8747206 35.7119111,26.9795735 C35.7428889,27.0844265 35.7592889,27.2020441 35.7592889,27.3269559 C35.7592889,27.5931912 35.6823,27.8872353 35.5565667,28.1197353 C35.4950667,28.2359853 35.4208111,28.3367353 35.3479222,28.4124118 C35.2736667,28.4894559 35.1994111,28.5400588 35.1365444,28.5678676 L35.1283444,28.5719706 C34.9616111,28.6490147 34.7853111,28.6977941 34.5743889,28.6977941 C34.3028778,28.6977941 33.9584778,28.6166471 33.5011,28.3335441 C33.0464556,28.0522647 32.4893111,27.5676618 31.8360444,26.7890147 L31.8260222,26.7776176 C31.5923222,26.5145735 31.3276444,26.2287353 30.9809667,25.9697941 C30.6352,25.7108529 30.2056111,25.4838235 29.6657778,25.3338382 C29.4238778,25.2668235 29.1692222,25.3953824 29.0781111,25.62925 C28.987,25.8635735 29.0890444,26.1311765 29.3127222,26.2446912 Z"
                                                          id="Shape"></path>
                                                    <path d="M39.4538444,20.4654706 L39.4538444,20.9623824 C39.4538444,21.5281324 39.2511222,22.0405441 38.9149222,22.4353382 C38.5805444,22.8301324 38.1145111,23.1045735 37.5897111,23.1889118 L37.5883444,23.1889118 C37.5017889,23.2030441 37.4120444,23.2126176 37.3254889,23.2167206 C37.2958778,23.2167206 37.2667222,23.2180882 37.2371111,23.2180882 L3.76425556,23.2180882 C3.73464444,23.2180882 3.70548889,23.2167206 3.67587778,23.2167206 C3.5875,23.2126176 3.49957778,23.2025882 3.41302222,23.1889118 L3.41165556,23.1889118 C2.88685556,23.1050294 2.42082222,22.8305882 2.08507778,22.4353382 C1.7507,22.0405441 1.54752222,21.5281324 1.54752222,20.9623824 L1.54752222,20.4654706 C1.54752222,19.9863382 1.69284444,19.5468676 1.94066667,19.18125 C2.14794444,18.8771765 2.42765556,18.6296324 2.75064444,18.4600441 C2.85542222,18.49925 2.96885556,18.5202206 3.08638889,18.5215882 C8.39133333,18.5439265 13.3924222,18.8703382 17.6208889,19.4442941 C19.7351222,19.7315 21.6566556,20.08025 23.3230778,20.4818824 C24.9895,20.8839706 26.4030889,21.3403088 27.4946,21.8344853 C27.9688333,22.0501176 28.4672111,22.1549706 28.9596667,22.1549706 C29.5054222,22.1549706 30.0425222,22.0259559 30.5436333,21.7879853 C31.0447444,21.5486471 31.5089556,21.1998971 31.9162222,20.7586029 C32.6510333,19.9603529 33.6655556,19.4183088 34.7511444,19.0713824 C35.8358222,18.724 36.9842778,18.5712794 37.9527889,18.5307059 C38.0621222,18.5266029 38.1655333,18.5042647 38.2634778,18.4664265 C38.5823667,18.6373824 38.8566111,18.8849265 39.0611556,19.1848971 C39.3094333,19.5496029 39.4538444,19.9881618 39.4538444,20.4654706 Z"
                                                          id="Shape"></path>
                                                    <path d="M37.9887778,17.0486324 C38.0152,17.0992353 38.0361556,17.1703529 38.0361556,17.2528676 L38.0361556,17.2656324 C38.0361556,17.3736765 37.9997111,17.4630294 37.9632667,17.5090735 C37.9550667,17.5204706 37.9464111,17.5286765 37.9395778,17.5355147 C37.9327444,17.5423529 37.9254556,17.5450882 37.9213556,17.5482794 L37.9131556,17.5523824 C36.8749444,17.5970588 35.6490444,17.75525 34.4541222,18.1377353 C33.2592,18.5215882 32.0893333,19.1292794 31.1978111,20.0939265 C30.8675333,20.4508824 30.5008111,20.7225882 30.1231556,20.9031176 C29.7441333,21.0836471 29.3523556,21.1748235 28.9601222,21.1748235 C28.6061556,21.1748235 28.2508222,21.1005147 27.8982222,20.9409559 C26.7256222,20.4103088 25.2619222,19.9412059 23.5531333,19.5281765 C20.9910889,18.9104559 17.8801,18.4231176 14.4074,18.0857647 C10.9328778,17.7470441 7.09755556,17.5578529 3.09094444,17.5409853 L3.08092222,17.5368824 C3.07818889,17.5355147 3.07408889,17.5327794 3.06816667,17.5286765 C3.05404444,17.5172794 3.03035556,17.4949412 3.01076667,17.4571029 C2.98434444,17.4065 2.96475556,17.3353824 2.96475556,17.2528676 L2.96475556,17.2473971 C2.96475556,17.1411765 3.00256667,17.0513676 3.03901111,17.0066912 C3.05723333,16.9843529 3.07408889,16.9729559 3.08092222,16.9688529 L3.08912222,16.9661176 L37.9113333,16.9661176 L37.9181667,16.9688529 C37.9313778,16.9743235 37.9619,16.9984853 37.9887778,17.0486324 Z"
                                                          id="Shape"></path>
                                                    <rect id="Rectangle-path" x="3.41985556" y="14.3712353"
                                                          width="34.1616556" height="1.61473529"></rect>
                                                    <path d="M30.2001444,11.0806765 C30.1441111,11.1536176 30.0306778,11.2516324 29.8489111,11.3437206 C29.6234111,11.4572353 29.5213667,11.7230147 29.6124778,11.95825 C29.7035889,12.1921176 29.9582444,12.3211324 30.2001444,12.2522941 C30.7404333,12.1036765 31.1700222,11.8771029 31.5153333,11.6181618 C31.8638333,11.3592206 32.1266889,11.0733824 32.3617556,10.8103382 L32.3713222,10.7989412 C33.1507778,9.86894118 33.8742,9.19013235 34.4841889,8.75567647 C34.7880444,8.54004412 35.0636556,8.38458824 35.2973556,8.28657353 C35.5310556,8.18855882 35.7201111,8.15072059 35.8485778,8.15208824 C35.9383222,8.15208824 35.9957222,8.16758824 36.0376333,8.18719118 L36.0458333,8.19129412 C36.0736222,8.20405882 36.1005,8.22229412 36.1323889,8.25694118 C36.1784,8.31027941 36.2317,8.40555882 36.2695111,8.53822059 C36.3073222,8.66997059 36.3282778,8.835 36.3282778,9.01279412 C36.3282778,9.23663235 36.2945667,9.47916176 36.2303333,9.70026471 C36.1661,9.92136765 36.0708889,10.1205882 35.9656556,10.2632794 C35.8258,10.4524706 35.8399222,10.7127794 35.998,10.8864706 C36.1560778,11.0587941 36.4148333,11.0952647 36.6139111,10.9730882 C37.0517,10.7054853 37.5136333,10.4816471 37.9655444,10.3275588 C38.4174556,10.1721029 38.8598,10.0882206 39.2556778,10.0882206 C39.5832222,10.0882206 39.8784222,10.1442941 40.1371778,10.2591765 C40.3918333,10.3726912 40.6173333,10.5404559 40.8186889,10.7939265 C40.8186889,10.7939265 40.8200556,10.7952941 40.8214222,10.7966618 C40.9430556,10.9689853 40.9977222,11.1536176 40.9990889,11.3637794 C40.9990889,11.5680147 40.9416889,11.7977794 40.8214222,12.0289118 C40.6423889,12.3749265 40.3216778,12.7204853 39.8934556,12.9725882 C39.4652333,13.2260588 38.9322333,13.3883529 38.3222444,13.3883529 C38.3140444,13.3883529 38.3053889,13.3883529 38.2971889,13.3897206 L38.0703222,13.3897206 L3.23854444,13.3897206 C3.23307778,13.3883529 3.22715556,13.3883529 3.22168889,13.3883529 L3.20893333,13.3883529 C2.30055556,13.3897206 1.4555,13.1266765 0.867833333,12.7569559 C0.574,12.5736912 0.345766667,12.3648971 0.201811111,12.1661324 C0.130288889,12.06675 0.0788111111,11.9714706 0.0464666667,11.8834853 C0.0141222222,11.7945882 0,11.7148088 0,11.6391324 C0.00136666667,11.5174118 0.0337111111,11.4038971 0.131655556,11.2639412 C0.133022222,11.2625735 0.134388889,11.2612059 0.134388889,11.2598382 C0.312055556,11.0373676 0.526166667,10.8860147 0.786288889,10.7779706 C1.05096667,10.67175 1.36712222,10.6184118 1.71562222,10.6184118 C2.19441111,10.6184118 2.73151111,10.7191618 3.26177778,10.8942206 C3.79341111,11.0692794 4.31821111,11.3172794 4.77422222,11.5971912 C4.97421111,11.7189118 5.23342222,11.6824412 5.3915,11.50875 C5.54957778,11.3364265 5.56233333,11.07475 5.42384444,10.8869265 C5.36371111,10.8057794 5.31906667,10.7132353 5.28808889,10.6070147 C5.25711111,10.5021618 5.24207778,10.3845441 5.24207778,10.261 C5.24071111,9.99339706 5.31906667,9.69935294 5.44343333,9.46822059 C5.5063,9.35197059 5.57918889,9.25122059 5.65344444,9.17417647 C5.7277,9.0985 5.80058889,9.04652941 5.86345556,9.02008824 L5.87165556,9.01598529 C6.03838889,8.93894118 6.21468889,8.89016176 6.42561111,8.89016176 C6.69712222,8.89016176 7.04152222,8.97130882 7.4989,9.25304412 C7.95354444,9.53432353 8.51205556,10.0202941 9.16395556,10.7989412 L9.17397778,10.8103382 C9.40767778,11.0733824 9.67235556,11.3592206 10.0190333,11.6167941 C10.3661667,11.8757353 10.7943889,12.1027647 11.3342222,12.25275 C11.5761222,12.3197647 11.8326,12.1925735 11.9232556,11.9587059 C12.013,11.7234706 11.9105,11.4572353 11.6868222,11.3441765 C11.5036889,11.2516324 11.3916222,11.1536176 11.3342222,11.0793088 C11.2768222,11.005 11.2727222,10.9630588 11.2727222,10.9489265 C11.2727222,10.9361618 11.2740889,10.9306912 11.2841111,10.9138235 C11.2968667,10.88875 11.3428778,10.8354118 11.4563111,10.7861765 C11.5683778,10.7369412 11.7433111,10.6963676 11.9770111,10.6963676 C12.1059333,10.6963676 12.2526222,10.7091324 12.4166222,10.7369412 L12.4220889,10.7383088 C12.6503222,10.7734118 12.8348222,10.8139853 13.0015556,10.8627647 C13.2507444,10.9370735 13.4589333,11.0323529 13.7195111,11.1905441 C13.8019667,11.2411471 13.8903444,11.2985882 13.9841889,11.3615 C13.9955778,11.3697059 14.0065111,11.3783676 14.0179,11.3852059 C14.2096889,11.5196912 14.4279,11.6847206 14.6880222,11.8866765 C14.6907556,11.8880441 14.6921222,11.8907794 14.6948556,11.8921471 C15.0839,12.2044265 15.4952667,12.4843382 15.9193889,12.7282353 C16.1544556,12.8627206 16.4537556,12.7815735 16.5881444,12.5463382 C16.7225333,12.3111029 16.6400778,12.0115882 16.4063778,11.8771029 C16.3239222,11.8296912 16.2414667,11.7804559 16.1585556,11.7298529 C16.2788222,11.7353235 16.3990889,11.7366912 16.5179889,11.7366912 C18.1748444,11.7366912 19.7292,11.3587647 21.0726333,10.9931471 C21.7441222,10.8098824 22.3614,10.6288971 22.9071556,10.4976029 C23.4515444,10.3644853 23.9230444,10.2833382 24.2843,10.2847059 C24.4997778,10.2847059 24.6706111,10.3125147 24.8004444,10.3603824 C24.8983889,10.3968529 24.9740111,10.4428971 25.0409778,10.5044412 C25.1402889,10.5969853 25.2327667,10.7328382 25.3056556,10.9680735 C25.3630556,11.1527059 25.4036,11.3979706 25.4177222,11.7047794 C25.3015556,11.7790882 25.1826556,11.8488382 25.0623889,11.9163088 C24.8259556,12.0480588 24.7421333,12.3462059 24.8733333,12.5828088 C25.0049889,12.8194118 25.3042889,12.9032941 25.5393556,12.772 C25.7466333,12.65575 25.9520889,12.5312941 26.1520778,12.3968088 C26.1675667,12.3872353 26.1830556,12.3785735 26.1980889,12.3671765 C26.4176667,12.2199265 26.6331444,12.0617353 26.8404222,11.8926029 C26.8431556,11.8912353 26.8458889,11.8898676 26.8486222,11.8871324 C27.1174,11.6769706 27.3410778,11.5092059 27.5383333,11.3733529 C27.8362667,11.1672941 28.0645,11.0387353 28.2954667,10.9461912 C28.5264333,10.8536471 28.7710667,10.7921029 29.1127333,10.7387647 L29.1195667,10.7373971 C29.2817444,10.7095882 29.4288889,10.6968235 29.5591778,10.6968235 C29.8698667,10.6968235 30.0753222,10.7697647 30.1705333,10.8354118 C30.2197333,10.8691471 30.2420556,10.8969559 30.2516222,10.9138235 C30.2611889,10.9306912 30.2611889,10.9361618 30.2630111,10.9489265 C30.2616444,10.9644265 30.2589111,11.005 30.2001444,11.0806765 Z"
                                                          id="Shape"></path>
                                                    <path d="M35.8982333,5.94972059 C36.8189111,6.98457353 37.5159111,8.11470588 37.9509667,9.30775 C37.8502889,9.33555882 37.7496111,9.36655882 37.6489333,9.40166176 C37.5200111,9.44497059 37.3929111,9.49420588 37.2667222,9.54572059 C37.2945111,9.36929412 37.3086333,9.19013235 37.3086333,9.01370588 C37.3086333,8.67498529 37.2580667,8.34173529 37.1309667,8.03766176 C37.0667333,7.88494118 36.9810889,7.74088235 36.8681111,7.6105 C36.7574111,7.48467647 36.6175556,7.37389706 36.4526444,7.29958824 C36.4499111,7.29822059 36.4471778,7.29685294 36.4444444,7.29548529 C36.2581222,7.20886765 36.0540333,7.17239706 35.8499444,7.17239706 C35.5479111,7.17239706 35.2413222,7.24944118 34.9219778,7.38255882 C34.4418222,7.58269118 33.9297778,7.91457353 33.3785556,8.37683824 C32.8287,8.83773529 32.2424,9.42992647 31.6305889,10.1579706 C31.6292222,10.1607059 31.6264889,10.1620735 31.6251222,10.1648088 C31.6237556,10.1661765 31.6223889,10.1675441 31.6210222,10.1689118 C31.4784333,10.3284706 31.3385778,10.4798235 31.1887,10.6170441 C31.1650111,10.5468382 31.1340333,10.4784559 31.0962222,10.4155441 C30.9536333,10.1762059 30.7295,10.0011471 30.4693778,9.88763235 C30.2065222,9.77411765 29.9013,9.71804412 29.5596333,9.71667647 C29.3705778,9.71667647 29.1719556,9.73491176 28.9605778,9.77001471 C28.9592111,9.77138235 28.9564778,9.77138235 28.9551111,9.77138235 C28.7031889,9.81195588 28.4749556,9.858 28.2553778,9.92410294 C27.9251,10.0221176 27.6198778,10.1620735 27.3050889,10.3553676 C27.0112556,10.5345294 26.7060333,10.7588235 26.3297444,11.0501324 C26.3142556,10.96625 26.2974,10.8832794 26.2764444,10.8048676 C26.2122111,10.5541324 26.1197333,10.3289265 25.994,10.1328971 C25.9001556,9.98427941 25.7880889,9.85435294 25.6609889,9.74494118 C25.4692,9.58127941 25.2441556,9.46776471 25.0118222,9.39892647 C24.7781222,9.33191176 24.5348556,9.30501471 24.2843,9.30501471 C23.7859222,9.30638235 23.2542889,9.40576471 22.6766444,9.54572059 C21.8106333,9.75588235 20.8407556,10.0608676 19.7984444,10.3116029 C18.7575,10.5623382 17.6477667,10.7583676 16.5184444,10.757 C15.8483222,10.757 15.1695444,10.6899853 14.4907667,10.5231324 L14.4894,10.5217647 C14.2921444,10.3872794 14.1058222,10.2751324 13.9185889,10.1784853 C13.7113111,10.0722647 13.5017556,9.98929412 13.2817222,9.92364706 C13.0621444,9.858 12.8339111,9.8115 12.5819889,9.77092647 C12.5806222,9.77092647 12.5778889,9.77092647 12.5765222,9.76955882 C12.3651444,9.73445588 12.1665222,9.71622059 11.9774667,9.71622059 C11.5214556,9.71758824 11.1296778,9.81560294 10.8203556,10.0202941 C10.6663778,10.1237794 10.5347222,10.2555294 10.4413333,10.4150882 C10.4035222,10.4793676 10.3711778,10.5468382 10.3488556,10.6179559 C10.1989778,10.4793676 10.0591222,10.3293824 9.91516667,10.1684559 C9.91243333,10.1643529 9.90833333,10.1616176 9.90514444,10.1570588 C9.20951111,9.32826471 8.58858889,8.77482353 8.01595556,8.41923529 C7.44104444,8.06227941 6.90622222,7.90819118 6.42652222,7.90955882 C6.0598,7.90819118 5.73544444,7.998 5.46666667,8.12382353 C5.46393333,8.12519118 5.45983333,8.12655882 5.45664444,8.12792647 C5.26212222,8.21636765 5.09402222,8.34492647 4.95006667,8.49217647 C4.73185556,8.71920588 4.56512222,8.99501471 4.44758889,9.29589706 C4.33415556,9.58857353 4.26718889,9.90495588 4.26445556,10.2286324 C4.03758889,10.1306176 3.80525556,10.0408088 3.56882222,9.96376471 C3.39388889,9.90632353 3.21622222,9.85435294 3.03855556,9.81104412 C3.40937778,8.56466176 4.06264444,7.38575 4.95826667,6.29892647 C6.47526667,4.45898529 8.69154444,2.89758824 11.3756778,1.79982353 C14.0598111,0.702058824 17.2081556,0.0674705882 20.5774444,0.0674705882 L20.5788111,0.0674705882 C20.5815444,0.0674705882 20.5842778,0.0674705882 20.5870111,0.0674705882 C24.9334667,0.0674705882 28.9100111,1.12602941 31.9968556,2.86932353 C33.5402778,3.74279412 34.8613889,4.78630882 35.8982333,5.94972059 Z M31.4916444,6.16535294 C31.4930111,5.89501471 31.2748,5.67391176 31.0032889,5.67254412 L30.0712222,5.66844118 C29.8010778,5.66707353 29.5801333,5.88544118 29.5801333,6.15714706 C29.5787667,6.42748529 29.7969778,6.64722059 30.0671222,6.64858824 L30.9991889,6.65269118 C31.2693333,6.65405882 31.4902778,6.43569118 31.4916444,6.16535294 Z M28.2872667,3.49525 C28.2886333,3.22491176 28.0704222,3.00380882 27.7989111,3.00244118 L26.8668444,2.99833824 C26.5967,2.99697059 26.3771222,3.21533824 26.3757556,3.48704412 C26.3743889,3.75738235 26.5926,3.97711765 26.8627444,3.97848529 L27.7948111,3.98258824 C28.0645,3.98395588 28.2859,3.76513235 28.2872667,3.49525 Z M26.0536778,6.33767647 C26.0536778,6.06733824 25.8354667,5.84623529 25.5653222,5.84486765 L24.6332556,5.84076471 C24.3631111,5.83939706 24.1421667,6.05776471 24.1408,6.32947059 C24.1408,6.59980882 24.3590111,6.81954412 24.6291556,6.82091176 L25.5612222,6.82501471 C25.8313667,6.82638235 26.0523111,6.60801471 26.0536778,6.33767647 Z M22.9349444,2.57801471 C22.9363111,2.30767647 22.7181,2.08657353 22.4465889,2.08520588 L21.5145222,2.08110294 C21.2443778,2.07973529 21.0248,2.29810294 21.0234333,2.56980882 C21.0220667,2.84014706 21.2402778,3.05988235 21.5104222,3.06125 L22.4424889,3.06535294 C22.7121778,3.06672059 22.9335778,2.84789706 22.9349444,2.57801471 Z M22.4702778,7.88630882 C22.4716444,7.61597059 22.2534333,7.39486765 21.9819222,7.3935 L21.0498556,7.38939706 C20.7797111,7.38802941 20.5601333,7.60639706 20.5587667,7.87810294 C20.5574,8.14844118 20.7756111,8.36817647 21.0457556,8.36954412 L21.9778222,8.37364706 C22.2479667,8.37501471 22.4689111,8.15664706 22.4702778,7.88630882 Z M20.5473778,5.04388235 C20.5487444,4.77354412 20.3305333,4.55244118 20.0603889,4.55107353 L19.1269556,4.54697059 C18.8568111,4.54560294 18.6372333,4.76397059 18.6358667,5.03567647 C18.6345,5.30601471 18.8527111,5.52575 19.1228556,5.52711765 L20.0549222,5.53122059 C20.3264333,5.53258824 20.5460111,5.31422059 20.5473778,5.04388235 Z M17.3881,7.37116176 C17.3894667,7.10082353 17.1712556,6.87972059 16.9011111,6.87835294 L15.9690444,6.87425 C15.6989,6.87288235 15.4779556,7.09125 15.4765889,7.36295588 C15.4752222,7.63329412 15.6934333,7.85302941 15.9649444,7.85439706 L16.8970111,7.8585 C17.1667,7.85986765 17.3867333,7.6415 17.3881,7.37116176 Z M15.3631556,4.35504412 C15.3645222,4.08333824 15.1463111,3.86360294 14.8761667,3.86223529 L13.9441,3.85813235 C13.6725889,3.85676471 13.4530111,4.07513235 13.4516444,4.34547059 C13.4502778,4.61717647 13.6684889,4.83691176 13.9386333,4.83827941 L14.8707,4.84238235 C15.1422111,4.84375 15.3617889,4.62492647 15.3631556,4.35504412 Z M11.4212333,6.74386765 C11.4226,6.47352941 11.2043889,6.25242647 10.9342444,6.25105882 L10.0021778,6.24695588 C9.73066667,6.24558824 9.51108889,6.46395588 9.50972222,6.73566176 C9.50835556,7.006 9.72656667,7.22573529 9.99671111,7.22710294 L10.9287778,7.23120588 C11.2002889,7.23257353 11.4198667,7.01420588 11.4212333,6.74386765 Z"
                                                          id="Shape"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <p class="mt-2">432 cal</p>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <button class="fbCustom-button fbCustom-button--filled">Nouveau entrainement
                                    </button>
                                </div>
                            </div>
                        </article>
                    </section>
                </section>
            </section>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="/js/vendor/Chart.js"></script>
    <script src="/js/sport.js"></script>
{% endblock %}
