<header id="menu">
    <div class="logo">
        <img src="/img/logo-blc.svg" alt="">
    </div>
    <nav>
        <a href="/sante" class="topic-block">
            <div class="icon">
                <img src="/img/sante.svg" alt="">
            </div>
            <p id="sante" class="topic">SANTE</p>
        </a>
        <div class="nav-line"></div>
        <a href="/sport" class="topic-block">
            <div class="icon">
                <img src="/img/sport.svg" alt="">
            </div>
            <p id="sport" class="topic">SPORT</p>
        </a>
        <div class="nav-line"></div>
        <a href="/profil" class="topic-block">
            <div class="icon">
                <img src="/img/profile.svg" alt="">
            </div>
            <p id="profil" class="topic">PROFIL</p>
        </a>
        <div class="nav-line"></div>
        <a href="/parametres" class="topic-block">
            <div class="icon">
                <img src="/img/parametre.svg" alt="">
            </div>
            <p id="parametre" class="topic2">PARAMETRES</p>
        </a>
    </nav>
</header>

<script>
    $(document)
    $('.topic-block').hover {

    }
</script>
