<header id="menu">
    <div class="logo">
        <img src="/img/logo-blc.svg" alt="">
    </div>
    <nav>
        <a href="/sante" class="topic-block">
            <div class="icon">
                <svg width="16px" height="14px" viewBox="0 0 16 14" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
                    <title>Fill 144</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="sante-svg" class="svg-picto" transform="translate(-40.000000, -80.000000)" fill="#FFFFFF">
                            <path d="M55.6001,86.0189 C55.0001,87.3189 53.9001,88.1189 52.6001,89.2189 C51.1631,90.3039 49.8851,91.5819 48.8001,93.0189 C48.6221,93.1519 48.3781,93.1519 48.2001,93.0189 C47.1081,91.5549 45.7921,90.2719 44.3001,89.2189 C43.7241,88.8029 43.1881,88.3339 42.7001,87.8189 C42.0371,87.2509 41.5221,86.5299 41.2001,85.7189 C40.9871,85.1439 40.8851,84.5329 40.9001,83.9189 C40.9001,82.9099 41.2951,81.9409 42.0001,81.2189 C42.7611,80.5109 43.7611,80.1179 44.8001,80.1189 C46.2121,80.1229 47.5281,80.8369 48.3001,82.0189 C49.2891,80.4949 51.1391,79.7709 52.9001,80.2189 C54.5831,80.6029 55.7831,82.0929 55.8001,83.8189 C56.0001,83.9189 56.0001,85.1189 55.6001,86.0189"
                                  id="Fill-144"></path>
                        </g>
                    </g>
                </svg>
            </div>
            <p id="sante" class="topic">SANTE</p>
        </a>
        <div class="parent-line">
            <div id="first-line" class="nav-line"></div>
        </div>
        <a href="/sport" class="topic-block">
            <div class="icon">
                <svg width="16px" height="18px" viewBox="0 0 16 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch-->
                    <title>Group 27</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="sport-svg" class="svg-picto" transform="translate(-41.000000, -280.000000)" fill="#FFFFFF">
                            <g id="Group-27" transform="translate(41.000000, 280.000000)">
                                <path d="M10.2002,3.9188 C9.1762,3.5058 8.6802,2.3408 9.0932,1.3158 C9.5062,0.2918 10.6712,-0.2042 11.6962,0.2098 C12.7202,0.6228 13.2162,1.7878 12.8032,2.8118 L12.8002,2.8188 C12.4752,3.8028 11.4142,4.3368 10.4302,4.0128 C10.3512,3.9858 10.2752,3.9558 10.2002,3.9188"
                                      id="Fill-132"></path>
                                <path d="M16,7.5189 C15.885,7.1849 15.551,6.9759 15.2,7.0189 C15,7.1189 13.8,7.4189 13,7.6189 C12.989,7.5429 12.955,7.4729 12.9,7.4189 C12.6,6.6189 12.1,5.3189 11,4.9189 C10.7,4.8189 10.2,4.6189 9.7,4.4189 C8.1,3.7189 5.3,4.5189 4.9,4.6189 C4.7,4.7189 4.3,4.8189 3.1,7.1189 C2.943,7.4509 3.076,7.8479 3.4,8.0189 C3.48,8.0959 3.59,8.1329 3.7,8.1189 C3.972,8.1549 4.228,7.9839 4.3,7.7189 C4.644,7.0519 5.045,6.4159 5.5,5.8189 C6.058,5.6739 6.626,5.5739 7.2,5.5189 C6.657,6.2539 6.219,7.0619 5.9,7.9189 C5.806,8.1439 5.739,8.3789 5.7,8.6189 C5.3,9.8189 4.5,12.0189 4.4,12.4189 C3.328,12.3919 2.259,12.2919 1.2,12.1189 C0.785,11.9979 0.35,12.2369 0.229,12.6519 C0.214,12.7059 0.204,12.7629 0.2,12.8189 C0.137,13.2839 0.442,13.7189 0.9,13.8189 C1.56,13.9429 2.229,14.0099 2.9,14.0189 C3.362,14.0989 3.831,14.1319 4.3,14.1189 C4.899,14.1939 5.498,13.9699 5.9,13.5189 C6,13.3189 6.8,11.8189 7.3,10.7189 C8.095,11.2109 8.862,11.7459 9.6,12.3189 C9.311,13.5739 8.943,14.8099 8.5,16.0189 C8.374,16.4869 8.638,16.9719 9.1,17.1189 L9.4,17.1189 C9.779,17.1469 10.121,16.8909 10.2,16.5189 C10.756,15.0919 11.191,13.6199 11.5,12.1189 C11.5,11.4189 10.8,10.9189 9.4,9.9189 C9.913,8.7229 10.55,7.5829 11.3,6.5189 C11.541,6.9329 11.742,7.3679 11.9,7.8189 C12,8.2829 12.245,8.7039 12.6,9.0189 C12.778,9.1519 13.022,9.1519 13.2,9.0189 C13.5,8.9189 14.9,8.5189 15.8,8.3189 C15.8,8.2189 16.1,7.9189 16,7.5189"
                                      id="Fill-134"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <p id="sport" class="topic">SPORT</p>
        </a>
        <div class="parent-line">
            <div id="second-line" class="nav-line"></div>
        </div>
        <a href="/profil" class="topic-block">
            <div class="icon">
                <svg width="13px" height="15px" viewBox="0 0 13 15" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
                    <title>Group 28</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="profil-svg" class="svg-picto" transform="translate(-41.000000, -518.000000)" fill="#FFFFFF">
                            <g id="Group-28" transform="translate(41.000000, 518.000000)">
                                <path d="M13,15.0001337 L13,12.6001337 C12.961,10.5891337 11.312,8.98313372 9.3,9.00013372 L3.7,9.00013372 C1.688,8.98313372 0.039,10.5891337 0,12.6001337 L0,15.0001337 L13,15.0001337 Z"
                                      id="Fill-138"></path>
                                <path d="M10.0362331,3.50599132 C10.3322331,5.71499132 8.78123306,7.74599132 6.57223306,8.04199132 C4.36323306,8.33799132 2.33123306,6.78699132 2.03623306,4.57799132 C1.74023306,2.36799132 3.29023306,0.337991322 5.50023306,0.0419913219 C5.67823306,0.0179913219 5.85723306,0.00599132188 6.03623306,0.00599132188 C8.09923306,-0.109008678 9.87623306,1.44499132 10.0362331,3.50599132"
                                      id="Fill-139"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <p id="profil" class="topic">PROFIL</p>
        </a>
        <div class="parent-line">
            <div id="third-line" class="nav-line"></div>
        </div>
        <a href="/parametres" class="topic-block">
            <div class="icon">
                <svg width="16px" height="15px" viewBox="0 0 16 15" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
                    <title>Fill 143</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="parametres-svg" class="svg-picto" transform="translate(-40.000000, -719.000000)" fill="#FFFFFF">
                            <path d="M53.7002,726.7186 L53.2002,724.5196 L55.2002,723.4186 C54.7032,722.4066 53.9852,721.5176 53.1002,720.8196 L51.6002,722.4186 L49.4002,721.4186 L49.8002,719.2186 C48.6482,718.9516 47.4512,718.9516 46.3002,719.2186 L46.7002,721.3196 L44.5002,722.3196 L43.0002,720.7186 C42.1122,721.4416 41.3662,722.3226 40.8002,723.3196 L42.8002,724.3196 L42.3002,726.5196 L40.0002,726.6186 C40.0162,727.7336 40.2902,728.8276 40.8002,729.8196 L42.9002,728.9186 L44.4002,730.7186 L43.1002,732.5196 C44.0082,733.2246 45.0702,733.7036 46.2002,733.9186 L46.8002,731.8196 L49.2002,731.8196 L49.8002,733.9186 C50.9222,733.6806 51.9792,733.2026 52.9002,732.5196 L51.5002,730.7186 L53.0002,728.9186 L55.1002,729.7186 C55.6212,728.7326 55.8962,727.6346 55.9002,726.5196 L53.7002,726.7186 Z M48.0002,729.0196 C46.7312,728.9636 45.7472,727.8906 45.8022,726.6206 C45.8572,725.3526 46.9312,724.3676 48.2002,724.4236 C49.4292,724.4766 50.3992,725.4886 50.4002,726.7186 C50.3742,728.0156 49.3022,729.0456 48.0052,729.0196 L48.0002,729.0196 Z"
                                  id="Fill-143"></path>
                        </g>
                    </g>
                </svg>
            </div>
            <p id="parametre" class="topic2">PARAMETRES</p>
        </a>
    </nav>
</header>
