<header id="menu">
    <div class="logo">
    </div>
    <nav>
        <div class="topic-block">
            <div class="icon"></div>
            <p class="topic">SANTE</p>
        </div>
        <div class="topic-block">
            <div class="icon"></div>
            <p class="topic">SPORT</p>
        </div>
        <div class="topic-block">
            <div class="icon"></div>
            <p class="topic">PROFIL</p>
        </div>
        <div class="topic-block">
            <div class="icon"></div>
            <p class="topic">PARAMETRES</p>
        </div>
    </nav>
</header>
